# **Data Science Tools and Ecosystem**

# In this notebook, Data Science Tools and Ecosystem are summarized.

**OBJETIVES**


1) *Generate Titles*
2) *Create a List of Programming Languages Used in Data Science* 
3) *Generate a Table*  
4) *Define Objectives*
5) *Develop Examples of Arithmetic Expressions*

Some of the popular languages that Data Scientists use are:
1) Java
2) Python
3) C++

Some of the commonly used libraries used by Data Scientists include:
1. NumPy
2. Pandas
3. Matplotlib

Three development environment open source tools used in data science.
| Data Science Tools      |
|-------------------------|
| Jupyter Notebook        |
| RStudio                 |
| Zeppelin Notebook       |

### Below are a few examples of evaluating arithmetic expressions in Python.

In [44]:
2+2

4

In [46]:
4*2

8

In [15]:
8-2

6

In [46]:
6/2

3.0

### This is a simple arithmetic expression to multiply then add integers

In [12]:
print ( (3 * 4) + 5)

17

### This will convert 200 minutes to hours by diving by 60

In [9]:
print ( (200*1) /60)

3.3333333333333335

## Author
Carlos Garc√≠a